{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "arrowParens": "avoid",
  "plugins": [
    "prettier-plugin-svelte",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": ["^@(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "trailingComma": "none",
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
